/* VARIABILI */

:root{
    --bg-dargray: rgb(44, 62, 80);
    --bg-lightgray: rgb(58, 84, 109);
    --bg-blue: rgb(26, 188, 156);
    --color-white: white;
}

/* RESET */

img{
    width: 100%;
}

ul{
    list-style-type: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

/* GENERALI */

.uppercase{
    text-transform: uppercase;
}

/* HEADER */

.ps_header{
    background-color: var(--bg-dargray);
}

/* SECTION START */

.section_start{
    background-color: var(--bg-blue);
}

.ps_card-start > img{
    width: 20%;
}

.ps_title {
    font-weight: bold;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px !important;
}

.ps_star{
    font-size: 30px;
    position: relative;
    margin-bottom: 15px !important;
}

.ps_star::before{
    content: '';
    display: block;
    background-color: currentColor;
    background-color: 999px;
    height: 3px;
    width: 100px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(-50%);
}

.ps_star::after{
    content: '';
    display: block;
    background-color: currentColor;
    border-radius: 999px;
    height: 3px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(50%);
}

.ps_subtitle{
    font-size: 20px;
}

/* SECTION PORTFOLIO */

.ps_title_section{
    font-size: 36px;
    margin-bottom: 20px !important;
}


.ps_card-portfolio{
    overflow: hidden;
    border-radius: 10px;
}

/* SECTION ABOUT */

.section_about{
    background-color: var(--bg-blue);
}

/* SECTION CONTACT */


.section_contact .col-9.debug{
    min-height: 100px;
}

.section_contact input.message{
    height: 100px;
}

.section_contact button{
    background-color: var(--bg-blue);
    border-color: var(--bg-blue);
}

/* FOOTER INFO */

.footer_info{
    background-color: var(--bg-lightgray);
    color:var(--color-white);
}

.footer_info span{
    color: var(--bg-blue);
}

.footer_info a.social{
    display: block;
    height: 40px;
    aspect-ratio: 1;
    border: 1px solid;
    border-radius: 50%;
}


/* FOOTER CREDITS */

.footer_credits{
    background-color: var(--bg-dargray);
    color: var(--color-white);
}