/* VARIABILI */

:root{
    --bg-dargray: rgb(44, 62, 80);
    --bg-lightgray: rgb(58, 84, 109);
    --bg-blue: rgb(26, 188, 156);
    --color-white: white;
}

/* RESET */

img{
    width: 100%;
}

/* GENERALI */

.uppercase{
    text-transform: uppercase;
}

/* HEADER */

.ps_header{
    background-color: var(--bg-dargray);
}

/* SECTION START */

.section_start{
    background-color: var(--bg-blue);
}

.ps_card-start > img{
    width: 20%;
}

/* SECTION PORTFOLIO */


.ps_card-portfolio.debug{
    /* min-width: 360px; */
    min-height: 260px;
    border: 1px solid green;
    border-radius: 10px;
}

/* SECTION ABOUT */

.section_about{
    background-color: var(--bg-blue);
}

/* SECTION CONTACT */


.section_contact .col-9.debug{
    min-height: 100px;
}

/* FOOTER INFO */

.footer_info{
    background-color: var(--bg-lightgray);
    color:var(--color-white);
}


/* FOOTER CREDITS */

.footer_credits{
    background-color: var(--bg-dargray);
    color: var(--color-white);
}