/* VARIABILI */

:root{
    --bg-dargray: rgb(44, 62, 80);
    --bg-blue: rgb(26, 188, 156);
    --color-white: white;
}

/* RESET */

img{
    width: 100%;
}

/* GENERALI */

.row.debug{
    border: 1px solid red;
}

.col-auto.debug,
.col-4.debug,
.col-6.debug{
    border: 1px solid yellow;
}

/* HEADER */

.ps_header{
    background-color: var(--bg-dargray);
    color: var(--color-white);
}

.ps_header.debug{
    min-height: 90px;
    padding: 10px 0;
}

/* SECTION START */

.section_start{
    background-color: var(--bg-blue);
}

.section_start.debug{
    min-height: 500px;
    padding: 20px 0;
}

/* SECTION PORTFOLIO */

.section_portfolio.debug{
    min-height: 500px;
    padding: 20px 0;
}

.ps_card-portfolio.debug{
    /* min-width: 360px; */
    min-height: 260px;
    border: 1px solid green;
    border-radius: 10px;
}

/* SECTION ABOUT */

.section_about.debug{
    min-height: 300px;
    padding: 20px 0;
    background-color: var(--bg-blue);
}